<div class="row">
{{#each movies}}
	<div class="col s4">
		<div class="card">
			<div class="card-image">
				<img src="{{poster_path}}" alt="{{title}}">
				<span class="card-title">{{title}}</span>
			</div>
			<div class="card-content">
				{{#each cast}}
					<p>{{name}}</p>
				{{/each}}
			</div>
			<div class="card-action addTracked">
				<a href="#">Add to Watchlist</a>
			</div>
		</div>
	</div>
{{/each}}
</div>